<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">
            org.gjt.mm.mysql.Driver
        </property>
    <property name="hibernate.connection.url">
        jdbc:mysql://localhost:3306/helloworlddb
        </property>
    <property name="hibernate.connection.username">
            root
        </property>
    <property name="hibernate.connection.password">
            root
        </property>
    <property name="hibernate.dialect">
            org.hibernate.dialect.MySQLInnoDBDialect
        </property>
    <property name="hibernate.connection.pool_size">13557111</property>
    <mapping class="resources.Category.hbm" package="resources" resource="resources/Category.hbm.xml"/>
    <mapping resource="resources/Buyer.hbm.xml"/>
    <mapping resource="resources/Buyer_bid_Product.hbm.xml"/>
    <mapping resource="resources/Buyer_buy_Product.hbm.xml"/>
    <mapping resource="resources/Product.hbm.xml"/>
    <mapping resource="resources/Seller.hbm.xml"/>
    <mapping resource="resources/User.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
