<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>IpaddressFilter</filter-name>
        <filter-class>com.IpaddressFilter</filter-class>
    </filter>
    <filter>
        <filter-name>Validate</filter-name>
        <filter-class>com.Validate</filter-class>
    </filter>
    <filter>
        <filter-name>AddHeaderandFooter</filter-name>
        <filter-class>com.AddHeaderandFooter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AddHeaderandFooter</filter-name>
        <servlet-name>LoginServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Validate</filter-name>
        <servlet-name>LoginServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>IpaddressFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>com.ConListener</listener-class>
    </listener>
    <listener>
        <description>HttpSessionListener</description>
        <listener-class>com.SessionListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
